.photo-grid {
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    margin: 0 auto;
    gap: 16px;
    align-content: center;
    justify-content: center;
}

@media screen and (max-width: 1183px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 14px;
        max-width: 928px;
    }
}

@media screen and (max-width: 927px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
        gap: 16px;
        max-width: 720px;
    }
}

@media screen and (max-width: 719px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
        gap: 12px;
        max-width: 288px;
    }
}