.photo-grid__item {
    max-width: 284px;
    align-self: center;
}

@media screen and (max-width: 1279px) {
    .photo-grid__item {
        max-width: 300px;
    }
}

/* @media screen and (max-width: 1183px) {
    .photo-grid__item {
        max-width: 300px;
    }
} */

@media screen and (max-width: 975px) {
    .photo-grid__item {
        max-width: 352px;
    }
}

/* @media screen and (max-width: 927px) {
    .photo-grid__item {
        max-width: 352px;
    }
} */

@media screen and (max-width: 767px) {
    .photo-grid__item {
        max-width: 288px;
    }
}

/* @media screen and (max-width: 719px) {
    .photo-grid__item {
        max-width: 288px;
    }
} */