.intro__text {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 40px 0 33px;
    max-width: 694px;
}

@media screen and (max-width: 927px) {
    .intro__text {
        max-width: 717px;
    }
}