.lead__subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFF;
    max-width: 640px;
    margin: 0 auto;
    padding: 32px 0 64px;
}

@media screen and (max-width: 1183px) {
    .lead__subtitle {
        padding: 32px 0 56px;
    }
}

@media screen and (max-width: 719px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        padding: 16px 16px 40px;
    }
}

/* @media screen and (max-width: 387px) {
    .lead__subtitle {
        padding: 16px 24px 40px;
    }
} */