.cover {
    max-width: 1184px;
    background-image: url(../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    display: flex;
    width: 100%;
    text-decoration: none;
    margin: 0 auto;

}

.cover::before {
    content: '';
    width: 0;
    height: 0;
    padding-top: calc(740 / 1184 * 100%);
}