.cover__overlay {
    z-index: 1;
    padding-top: 245px;
    margin: 0 auto;
    /* position: absolute; */
    /* top: 245px; */
    /* transform: translateX(50%); */
    text-align: center;
}

/* .cover__overlay {
    z-index: 1;
    top: 245px;
    text-align: center;
    margin: 0 auto;
} */