.cover__overlay {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.3);
}

.cover__overlay:hover {
    background: rgba(0, 0, 0, 0.8);
    transition: 0.5s ease-in-out;
}