.cover__overlay {
    z-index: 1;
    margin: 0 auto;
    top: 245px;
    padding: 245px 0;
    text-align: center;
    opacity: 1;
}

@media screen and (max-width: 1183px) {
    .cover__overlay {
        top: 195px;
        padding: 245px 0;
    }
}

@media screen and (max-width: 976px) {
    .cover__overlay {
        top: 115px;
        padding: 115px 0;
    }
}

@media screen and (max-width: 387px) {
    .cover__overlay {
        top: 33px;
        padding: 33px 0;
    }
}