.cover__title {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    max-width: 560px;
    margin: 0;
    opacity: 1;
    padding-bottom: 32px;
}

@media screen and (max-width: 719px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 500px) {
    .cover__title {
        max-width: 420px;
    }
}

@media screen and (max-width: 387px) {
    .cover__title {
        max-width: 255px;
        padding-bottom: 16px;
    }
}